<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="mb-3">
          <select 
                class="form-select" 
                aria-label="Default select example" 
                (change)="onChangeCustomerSelection($event.target.value)"
                [(ngModel)]="selectedCustomer"
                >
              <option selected></option>
              <option *ngFor="let customer of customers" value= {{customer.id}}>
                {{customer.name}}
              </option>
          </select>
      
        </div>
      </div>


      <div class="mb-3">
        <button type="button" class="btn btn-primary">
          Total de Dívidas:  <span class="badge bg-secondary">{{ getDebtTotalAmount(selectedCustomer) | currency:'BRL':'symbol' }}</span>
        </button>
      </div>
      
    <div class="mb-3">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Motivo</th>
          <th scope="col">Valor</th>
          <th scope="col">Editar</th>
          <th scope="col">Deletar</th>
        </tr>
        </thead>
        <tbody>
          
        <tr  *ngFor="let debit of debts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ getCustomerById(debit.customerId) }}
          </td>
          <td>
            {{ debit.reason }}
          </td>
          <td>{{ debit.amount | currency:'BRL':'symbol' }}</td>
          <td>
            <button (click)="edit(i)" type="button" class="btn btn-primary btn-sm">Editar</button>
          </td>
          <td>
            <button (click)="remove(i)" type="button" class="btn btn-danger btn-sm">Deletar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>