<div>
    <nav *ngIf="isLoggedIn$" class="navbar navbar-expand navbar-dark bg-dark fixed-top">
      <a class="navbar-brand">Code7 - Home</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/debits" class="nav-link">Dívidas</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register-debt" class="nav-link">Nova Dívida</a>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link">Logout</a>
        </li>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>
