<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Registrar Novo Usuário</h4>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" 
                            formControlName="email" 
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Informe um email válido</div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" 
                            formControlName="password" 
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Informe o password</div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label for="passwordCheck" class="form-label">Confirmar password</label>
                            <input type="password" 
                            formControlName="passwordCheck" 
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.passwordCheck.errors" class="invalid-feedback">
                                <div *ngIf="f.passwordCheck.errors.required">Confirme o password</div>
                                <div *ngIf="f.passwordCheck.errors.passwordCheck">As senhas devem ser iguais</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row g-3">
                        <div class="col-auto">
                            <button type="button" [disabled]="registerForm.invalid" class="btn btn-success" (click)="register()">Registar</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary" (click)="backToLogin()">Voltar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


